<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lis99.mobile"

    android:versionCode="358"
    android:versionName="3.5.8" >



    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" >
    </uses-permission>
    <!-- <uses-permission android:name="android.permission.WRITE_APN_SETTINGS"></uses-permission> -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" >
    </uses-permission>
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" >
    </uses-permission>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- SDK1.5需要android.permission.GET_TASKS权限判断本程序是否为当前运行的应用? -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.CAMERA" >
    </uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" >
    </uses-permission>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- 来电消音 -->
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" >
    </uses-permission>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.GET_PACKAGE_SIZE" />

    <!-- 必选 -->
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- 可选 -->
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_ADDED" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_CHANGED" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_INSTALL" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_REPLACED" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- 可选 -->
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_ADDED" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_CHANGED" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_INSTALL" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_REPLACED" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <uses-feature android:name="android.hardware.sensor.accelerometer" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" >
    </supports-screens>

    <meta-data
        android:name="com.baidu.lbsapi.API_KEY"
        android:value="hFkz3nmX87bGLdRrcdqF9mT9" >
    </meta-data>

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".entry.application.DemoApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon_ls"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
        </service>

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="V9sroLzTO6btKdauS9emWGZz" />
        <!--
            <meta-data
             android:name="com.baidu.lbsapi.API_KEY"
            android:value="w65WjdgOnURO7wPIbm2oECoF" />
        -->


        <!--
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="53086af156240bbba50a09a1" >
        </meta-data>
        -->

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="53086af156240bbba50a09a1" >
        </meta-data>
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="9dbccbe3dec0d48ef4685f081d93468d" >
        </meta-data>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}" />

        <activity
            android:name=".entry.LsStartupActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".entry.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>

        <service android:name=".service.LocService" >
            <intent-filter>
                <action android:name="com.lis99.mobile.service.LocService" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:label="WXEntryActivity"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent" >
        </activity>
        <activity
            android:name=".entry.LsActivityInfo"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name=".entry.LsActivityLoadUp1"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name=".LocActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name=".entry.mypic.ShowImageActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name=".entry.LsActivityPlan"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name=".entry.LsActivityElect"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name=".entry.LsActivityComment"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name=".entry.LsUserOrderActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name=".entry.LsActivityLines"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name=".entry.LsActivityItem"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name=".entry.LsActivityResult"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name=".entry.LsActivityRules"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <!--
        <activity
            android:name="com.lis99.mobile.entry.LsActivity1"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        -->
        <activity
            android:name=".LsBuyActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name=".entry.camera.CropImage"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name=".entry.CopyOfLsShaiActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name=".entry.LsDarenHuidaActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name=".ShopDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name=".PJActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name=".entry.LsDarenDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" >
        </activity>
        <activity
            android:name=".entry.LsXuanActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name=".entry.LsUserLikeActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name=".entry.LsUserShaiActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name=".entry.LsUserAskActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name=".entry.LsShakesActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".entry.lsWeiboWeixin"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name=".entry.LsUserAnswerActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name=".entry.LsSettingCheckActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name=".entry.LsSettingFeedbackActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" >
        </activity>
        <activity
            android:name=".entry.LsSettingInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name=".entry.LsSettingPushActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name=".entry.LsSettingRecommendActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name=".entry.LsSettingShareActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name=".entry.LsUserAttentionActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name=".entry.LsUserMsgActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name=".entry.LsUserDraftActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name=".entry.LsSettingActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name=".entry.LsDarenTiwenActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" >
        </activity>
        <activity
            android:name=".entry.LsXuanActivity1"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name=".entry.LsShaiCommentActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" >
        </activity>
        <activity
            android:name=".entry.LsAskDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" >
        </activity>
        <activity
            android:name=".entry.LsAnswerDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" >
        </activity>
        <activity
            android:name=".entry.LsShaiDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" >
        </activity>
        <activity
            android:name=".entry.LsWendaCommentActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" >
        </activity>
        <activity
            android:name=".entry.LsDarenActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name=".entry.LsShaiActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name=".entry.LsShaiUploadActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" >
        </activity>
        <activity
            android:name=".entry.LsTiwenActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" >
        </activity>
        <activity
            android:name=".entry.LsWenActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name=".entry.LsControllShake"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name=".entry.LsCateListActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name=".entry.LsZhuangbeiDetail"
            android:configChanges="keyboardHidden|orientation"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".entry.LsWenCateActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name=".entry.ZhuangbeiCommentActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" >
        </activity>
        <activity
            android:name=".entry.LsZhuanjiDetail"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".entry.LsLoginActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" >
        </activity>
        <activity
            android:name=".entry.LsRegistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" >
        </activity>
        <activity
            android:name=".entry.LsImproveInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" >
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent100390791" />
            </intent-filter>
        </activity>
        <!-- 授权认证 -->
        <activity android:name="com.sina.weibo.sdk.demo.WBAuthActivity" />
        <activity android:name="com.sina.weibo.sdk.demo.WBAuthCodeActivity" />
        <activity android:name="com.sina.weibo.sdk.demo.WBShareMainActivity" />

        <!-- 分享 -->
        <activity android:name="com.sina.weibo.sdk.demo.WBShareResponseActivity" >
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_RESP_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 登录/注销 -->
        <activity android:name="com.sina.weibo.sdk.demo.WBLoginLogoutActivity" />

        <!-- OpenAPI -->
        <activity android:name="com.sina.weibo.sdk.demo.openapi.WBOpenAPIActivity" />
        <activity android:name="com.sina.weibo.sdk.demo.openapi.WBInviteAPIActivity" />
        <activity android:name="com.sina.weibo.sdk.demo.openapi.WBLogoutAPIActivity" />

        <!-- 其他 -->
        <activity android:name="com.sina.weibo.sdk.demo.WBCallActivityV3" />
        <activity android:name="com.sina.weibo.sdk.demo.WBUserStateActivity" />
        <activity
            android:name="com.tencent.weibo.sdk.android.component.PublishActivity"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.tencent.weibo.sdk.android.component.GeneralInterfaceActivity"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.tencent.weibo.sdk.android.component.ConversationActivity"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.tencent.weibo.sdk.android.component.FriendActivity"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity android:name="com.tencent.weibo.sdk.android.component.Authorize" >
        </activity>
        <activity android:name="com.tencent.weibo.sdk.android.component.GeneralDataShowActivity" >
        </activity>
        <activity android:name="com.tencent.weibo.sdk.android.component.ReAddActivity" >
        </activity>
        <activity
            android:name=".BaiduMapActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_baidu_map"
            android:screenOrientation="sensor" >
        </activity>
        <activity
            android:name=".CityListActivity"
            android:label="@string/title_activity_city_list"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".DisActivity"
            android:label="@string/title_activity_dis"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ShopDetailMapActivity"
            android:label="@string/title_activity_shop_detail_map"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name=".ShopDetailTYPEActivity" >
        </activity>
        <activity
            android:name=".FavActivity"
            android:label="@string/title_activity_fav"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".DPCWActivity"
            android:label="@string/title_activity_dpcw"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".QTActivity"
            android:label="@string/title_activity_qt"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".DZCXActivity"
            android:label="@string/title_activity_dzcx"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".GoodsDetailActivity"
            android:label="@string/title_activity_goods_detail"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".entry.LsActivityEquip"
            android:label="@string/title_activity_ls_activity_equip"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name=".entry.LsActivity"
            android:label="@string/title_activity_ls"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name=".LsActivityDetail"
            android:label="@string/title_activity_ls_activity_detail"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name=".entry.LsLineGalleryActivity"
            android:label="@string/title_activity_ls_line_gallery"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name=".entry.LsLineBigImageActivity"
            android:label="@string/title_activity_ls_line_big_image"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".entry.LsEquiFilterActivity"
            android:label="@string/title_activity_ls_equi_filter"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name=".LsEquiCateActivity"
            android:label="@string/title_activity_ls_equi_cate"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name=".newhome.NewHomeActivity"
            android:label="@string/title_activity_new_home"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name=".newhome.LSWebActivity"
            android:label="@string/title_activity_lsweb"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name=".newhome.LSSkiingParkActivity"
            android:label="@string/title_activity_lsskiing_park"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name=".club.LSClubDetailActivity"
            android:label="@string/title_activity_lsclub_detail"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name=".club.LSClubBriefActivity"
            android:label="@string/title_activity_club_brief"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name=".club.LSClubTopicActivity"
            android:label="@string/title_activity_lsclub_topic"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name=".club.LSClubListActivity"
            android:label="@string/title_activity_lsclub_list"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name=".club.LSClubApplyListActivity"
            android:label="@string/title_activity_lsclub_apply_list"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name=".club.LSClubApplyActivity"
            android:label="@string/title_activity_lsclub_apply"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize" >
        </activity>
        <activity
            android:name=".club.LSClubPublishActivity"
            android:label="@string/title_activity_lsclub_publish"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name=".club.LSClubPublish2Activity"
            android:label="@string/title_activity_lsclub_publish2"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name=".club.LSClubTopicReplyActivity"
            android:label="@string/title_activity_lsclub_topic_reply"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name=".entry.LSCollectionActivity"
            android:label="@string/title_activity_lscollection"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name=".club.LSClubMyTopicActivity"
            android:label="@string/title_activity_club_my_topic"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name=".club.LSClubCityListActivityActivity"
            android:label="@string/title_activity_lsclub_city_list_activity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>

        <!-- 2.3版本添加 -->
        <activity
            android:name=".club.LSClubLevelActivity"
            android:label="@string/title_activity_lsclub_level"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name=".club.widget.LSClubActiveDetail"
            android:label="@string/title_activity_lsclub_level"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <!-- 定位 -->
        <activity
            android:name=".club.LSClubTopicInfoLocation"
            android:label="@string/title_activity_lsclub_level"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name=".mine.LSMineApplyActivity"
            android:label="LSMineApplyActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name=".mine.LSEmailLoginActivity"
            android:label="LSEmailLoginActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name=".mine.LSLoginActivity"
            android:label="LSLoginActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name=".mine.LSPhoneLoginActivity"
            android:label="LSPhoneLoginActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name=".mine.LSPhoneRegisterActivity"
            android:label="LSPhoneRegisterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>

        <!-- 回复我的 -->
        <activity
            android:name=".mine.ActivityReplyMine"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <!-- 装备频道 -->
        <activity
            android:name=".newhome.LSEquiFragment"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name=".mine.LSMineApplyManageActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <!-- 测试Activity -->
        <activity
            android:name=".equip.ActivityTest"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <!-- 专题页 -->
        <activity
            android:name=".choiceness.SubjectActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" />

        <!-- WebView -->
        <activity
            android:name=".webview.MyActivityWebView"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" />

        <!-- 搜索 -->
        <activity
            android:name=".search.SearchActivity"
            android:label="@string/title_activity_search"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name=".search.SearchInfoClub"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".search.SearchInfoTopic"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".search.SearchInfoActive"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="stateHidden" >
        </activity>

        <!-- 3.4.0 -->
        <activity android:name=".choiceness.ChoicenessAllActivity"
                  android:screenOrientation="portrait"
                  android:theme="@android:style/Theme.Light.NoTitleBar"
            />

        <activity android:name=".choiceness.ActiveAllActivity"
                  android:screenOrientation="portrait"
                  android:theme="@android:style/Theme.Light.NoTitleBar"
            />
<!-- 砾石专栏 -->
        <activity android:name="com.lis99.mobile.club.LSCLubSpecialMain"
                  android:screenOrientation="portrait"
                  android:theme="@android:style/Theme.Light.NoTitleBar"
            />
    <!--专栏帖子列表-->
        <activity android:name=".club.ClubSpecialListActivity"
                  android:screenOrientation="portrait"
                  android:theme="@android:style/Theme.Light.NoTitleBar"
                  />

        <!--热帖-->
        <activity android:name=".club.ClubHotTopicActivity"
                  android:screenOrientation="portrait"
                  android:theme="@android:style/Theme.Light.NoTitleBar"
            />
        <!-- 我的好友 3.6.0 -->
        <activity android:name="com.lis99.mobile.newhome.MyFriendsActivity"
                  android:screenOrientation="portrait"
                  android:theme="@android:style/Theme.Light.NoTitleBar"
            />
        <!-- 动态 3.6.0 -->
        <activity android:name="com.lis99.mobile.newhome.DynamicActivity"
                  android:screenOrientation="portrait"
                  android:theme="@android:style/Theme.Light.NoTitleBar"
            />
        <!-- 系统消息-->
        <activity android:name="com.lis99.mobile.newhome.sysmassage.SysMassageActivity"
                  android:screenOrientation="portrait"
                  android:theme="@android:style/Theme.Light.NoTitleBar"
            />


        <!-- 我收到的赞-->
        <activity android:name="com.lis99.mobile.newhome.sysmassage.LSReceiveMassageActivity"
                  android:screenOrientation="portrait"
                  android:theme="@android:style/Theme.Light.NoTitleBar"
            />
        <!-- 装备详情-->
        <activity android:name="com.lis99.mobile.newhome.equip.LSEquipInfoActivity"
                  android:screenOrientation="portrait"
                  android:theme="@android:style/Theme.Light.NoTitleBar"
                  />

        <!-- 装备详情评论-->
        <activity android:name="com.lis99.mobile.newhome.equip.LSEquipReplyActivity"
                  android:screenOrientation="portrait"
                  android:theme="@android:style/Theme.Light.NoTitleBar"
            />


        <receiver
            android:name="com.umeng.message.NotificationProxyBroadcastReceiver"
            android:exported="false"
            android:process=":push" >
        </receiver>
        <receiver
            android:name="com.umeng.message.SystemReceiver"
            android:process=":push" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.umeng.message.MessageReceiver"
            android:process=":push" >
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.RECEIVE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.umeng.message.ElectionReceiver"
            android:process=":push" >
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.ELECTION_RESULT_V4" />

                <category android:name="umeng" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.umeng.message.RegistrationReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.lis99.mobile.intent.action.COMMAND" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.umeng.message.BootBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.umeng.message.UmengService"
            android:exported="true"
            android:label="PushService"
            android:process=":push" >
            <intent-filter>
                <action android:name="com.lis99.mobile.intent.action.START" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.lis99.mobile.intent.action.COCKROACH" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.PING_V4" />

                <category android:name="umeng" />
            </intent-filter>
        </service>
        <service
            android:name="com.umeng.message.UmengIntentService"
            android:process=":push" />
        <service
            android:name="com.umeng.message.UmengMessageIntentReceiverService"
            android:exported="true"
            android:process=":push" >
            <intent-filter>
                <action android:name="org.android.agoo.client.MessageReceiverService" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.android.agoo.client.ElectionReceiverService" />
            </intent-filter>
        </service>

        <!-- If you donot want to use the standard notification bar in SDK, you can define IntentService instead to handle message. -->
        <service android:name="com.umeng.message.UmengDownloadResourceService" >
        </service>

        <activity
            android:name=".mine.LSWeixinLoginActivity"
            android:label="@string/title_activity_lsweixin_login"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name=".mine.LSUserHomeActivity"
            android:label="@string/title_activity_lsuser_home"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name=".equip.LSEquipCommentActivity"
            android:label="@string/title_activity_lsequip_comment"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar">
        </activity>
        <activity
            android:name=".equip.LSRelatedShopActivity"
            android:label="@string/title_activity_lsrelated_shop"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar">
        </activity>

        <activity android:name=".newhome.equip.MyTest"
                  android:screenOrientation="portrait"
                  android:theme="@android:style/Theme.Light.NoTitleBar"
                  />

        <activity android:name="com.lis99.mobile.club.LSClubTopicNewActivity"
                  android:screenOrientation="portrait"
                  android:theme="@android:style/Theme.Light.NoTitleBar" />

    </application>

</manifest>
